*.wav   # no data
# no executeable
tartini
Makefile
dialogs/ui_settingsdialog.h
pitch.pro.user
qrc_pitch.cpp
.obj
.debug_obj
.debug_moc

syntax: glob
.moc/*
*~
*.qm

.qmake.stash
Debug/
Release/
tartini.app/
tartini.xcodeproj/
html
latex
#EOF
